.faqheading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
    color: #333;
}

.faq {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.faq-question:hover {
    background-color: #f7f7f7;
}

.faq-question.active {
    background-color: #2c3e50;
    color: #fff;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    color: #2c3e50;
}

.faq-question.active .icon {
    transform: rotate(45deg);
}

.faq-answer {
    padding: 0px 20px 16px 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: #ece8f6;
    color: #333;
    border-top: 1px solid #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq-question.active~.faq-answer {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
}

