.newsletter {
    background: #ece8f6;
    width: 100%;
    padding: 60px;
    /* border-radius: 15px; */
}

.newsletter h2 {
    color: rgb(127, 113, 156);
}

.subscribe input {
    border: none;
    outline: none;
    width: 90%;
}

.subscribe {
    padding: 7px 10px;
    background: #fff;
    width: 85%;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter {
    background-image: url(../../assests/images/hero-img-1.png);
    background-size: cover;
}