.pages-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/*  */

.img1 {
    margin-top: -10px;
    /* Set the height for the third feature box */
    display: flex;
    height: 170px;
    flex-direction: column;
    justify-content: center;
    /* Align the third feature box to the center */
}
.img2 {
    margin-top: -40px;
    /* Set the height for the third feature box */
    display: flex;
    height: 200px;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    /* Align the third feature box to the center */
}
.img3 {
    margin-top: -0px;
    /* Set the height for the third feature box */
    display: flex;
    height: 150px;
    width: 200px;
    justify-content: center;
    /* align-items: center; */
    margin-left: 60px;
    flex-direction: column;
    justify-content: center;
    /* Align the third feature box to the center */
}
.img4 {
    margin-top: -0px;
    /* Set the height for the third feature box */
    display: flex;
    height: 200px;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    /* Align the third feature box to the center */
}