/* CSS for Testimonial Carousel */
.tb-testimonial {
    display: flex;
    align-items: center;
}

.tb-testimonial-left {
    flex: 1;
}

.tb-testimonial-right {
    flex: 1;
}

.tb-testimonial-img {
    height: 150px;
    /* Set the desired height for the image */
    background-size: cover;
    background-position: center center;
}